body {
    font-family: "Arial", serif;
}

ul {
    margin: 0px;
}

.section {
    padding: 50px 0px;
}

.section.section--dark {
    background-color: #445162;
    color: white;

}

.container {
    margin: 0 auto;
    max-width: 1280px;


}

.container::before {
    content: '';
    clear: both;
    display: table;
}

.row {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}

.row__col {
    width: auto;

}

.row.row--center {
    justify-content: center;
}


.list {
    list-style: none;
}

.row.row--space_between {
    justify-content: space-between;
    padding: 0px;
    width: 1230px;
    margin: 0px;
}

h1.title {
    font-size: 60px;
    color: #ffffff;
    font-family: "Arial";
    font-weight: 500;
    line-height: 2.9rem;
    margin: 0px 0px 2.5rem 0px;
}

.list span {
    font-size: 20px;
    line-height: 36px;
    font-family: "Arial";
}



/* START: section 1 */
/* <576px */
.section.section--main .row {
    flex-direction: column;
}

.section.section--main .row__col:first-child {
    padding-left: 47px;
}

.section.section--main .row__col:first-child .list {
    padding-left: 3px;
}

.section.section--main .list img {
    margin-right: 11px;
}

/* ≥576px */
@media screen and (min-width: 576px) {}

/* ≥768px */
@media screen and (min-width: 768px) {
    .section.section--main .row {
        flex-direction: row;
    }
}

/* ≥992px */
@media screen and (min-width: 992px) {}

/* ≥1200px */
@media screen and (min-width: 1200px) {}

/* END: section 1 */