body {
    font-family: "Arial", serif;
}

ul {
    margin: 0px;
}

img {
    max-width: 100%;
}

.section {
    padding: 50px 0;
}

.section.section--dark {
    background-color: #445162;
    color: white;

}
.section.section--pluses {
    background-color: #f5f5f5;
    color: #333333;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.container::before {
    content: '';
    clear: both;
    display: table;
}

.row {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}

.row__col {
    width: auto;
}

.row.row--center {
    justify-content: center;
}

.list {
    list-style: none;
}

.row.row--space_between {
    justify-content: space-between;
    margin-bottom: -7px;
    /* Временное решение высоты контейнера */
}

h1.title {
    font-size: 60px;
    color: #ffffff;
    font-family: "Arial";
    font-weight: 500;
    line-height: 2.9rem;
    margin: 0px 0px 2.5rem 0px;
}
.section.section--white h2.title {
    font-size: 30px;
    color: #445161;
    font-weight: 500;
    margin-bottom: 23px;
}
.section.section--white p {
    margin: 0 0 11px 0;
}
.section--pluses h2.title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-weight: 500;
    text-align: center;
    margin: -5px 0px;
    padding-top: 2px;
}
.list span {
    font-size: 20px;
    line-height: 36px;
    font-family: "Arial";
}
.row__col p {
    font-size: 16px;
    line-height: 24px;
    white-space: pre-line;
    margin-top: 0;
}
.section.section--pluses p {
    font-size: 16px;
    line-height: 24px;
}
.container .row__col:first-child {
    padding-left: 35px;
}
.grid.grid--pluses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 5em 5em;
    margin: 13px 50px 0px 50px;
    row-gap: 18px;
}
.grid__cell  {
    display: flex;
    max-height: 300px;
}
.grid__cell img {
    margin: 19px 0px 0px 0px;
}
h2.title {
    font-size: 30px;
    line-height: 0;
    color: #445161;
    text-align: center;
    font-weight: 500;
    margin: 17px 0 0 0;
    padding: 0px;
}
div.text {
    margin: -2px 15px 0px 9px;
}
.grid.grid--scrinshots {
    margin: 0 60px 0 30px;
}
.grid.grid--scrinshots {
    display: grid;
    grid-template-columns: 589px 580px;
    grid-template-rows: 50% 50%;
    margin: 45px 0px 0px 50px;
    row-gap: 14px;
}
.grid.grid--scrinshots p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-weight: 500;
}
.grid.grid--scrinshots img {
    margin: 0 15px 0 0;
}
.grid.grid--scrinshots h3 {
    font-size: 24px;
    color: #445161;
    font-weight: 500;
    margin: 0;
    line-height: 16px;
}
.section.section--rewiews {
    background-color: #f5f5f5;
}
.grid.grid--rewiews {
    display: grid;
    grid-template-columns: 606px 606px;
    grid-template-rows: 50% 50%;
    margin: 45px 0px 24px 50px;
    row-gap: 24px;
}
.grid.grid--rewiews img {
    border-radius: 50%;
    margin: 0 0px 0 0;
}
.section.section--rewiews h2.title {
    margin: 7px 0 0 0;
}
.grid.grid--rewiews .comment {
    background-color: #ebebeb;
    margin: 0px 0px 0px 0px;
    padding: 0 25px 0 43px;
}
.comment p {
    font-size: 14px;
    color: #333333;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    margin: 14px 0px 6px 0;
}
.grid.grid--rewiews a {
    font-size: 14px;
    color: #989898;
    text-decoration: none;
}


.buy {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    text-align: center;
    margin: -6px 0 27px 0;
    padding: 0px 0px 0px 0px;
}


.vertical__row {
    display: flex;
    align-items: flex-end;
    max-width: 1035px;
    margin: 0 auto;
}
.vertical__column {
    padding: 0 22.5px;
    flex: 0 1 33.333%;
}


.vertical__item {
    background-color: #445162;
    color:white ;
    border-radius: 5px;
    border: 2px solid #445162;
    padding: 0 0 20px 0;
}
.vertical__subtitle {
    text-align: center;
    font-size: 24px;
    line-height: 14px;
    color: white;
    padding: 17px 0 18px 0;
}
.vertical__price {
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    background-color: #fff;
    padding: 20px 0;
}
.vertical__text {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding: 0;
}
.vertical__text ol {
    padding: 0 0 0px 35px;
}


.button {
    display: block;
    font-size: 18px;
    line-height: 46px;
    height: 40px;
    color: #445161;
    background-color: white;
    font-weight: bold;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}


.section.section--form {
    background-color: #445162;
    margin: 0 auto;
    max-width: 1280px;
}
.contacts {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    margin: -4px 0 0 0;
    padding: 0 0 22px 0;
}


.user__data {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block__name {
    margin: 0 38px;
}
.social__name {
    width: 274px;
}
.social__name img {
    padding: 0px 4px 0px 0px;
}
.social__name p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    padding: 0 0 15px 0;
}
.socials {
    padding: 15px 0 0 0;
}

input, textarea {
    width: 479px;
    margin: 0 6px 20px 0;
    padding: 10px;
    border-radius: 5px;
}
textarea {
    padding: 10px 10px 0 10px;
    margin: 0 6px 18px 0;
}
.send {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    text-decoration: none;
    margin: -4px 187px 0px 180px;
    border-radius: 5px;
    padding: 7px 0px 7px 0px;
}

.footer {
    margin: 0 auto;
}

.footer span {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #445162;
    display: flex;
    justify-content: center;
    margin: 0 0 2px 0;
    padding: 3px 0 0px 0;
}




/* START: section 1 */

/* <576px */
h1.title {
    font-size: 42px;
    font-weight: 500;
    line-height: 2.9rem;
    margin: 0px 0px 1.5rem 0px;
    text-align: center;
}
.list span {
    font-size: 16px;
    line-height: 30px;
}
.row__col .list {
    margin-bottom: 20px;
}
.section--dark .row__col:first-child {
    padding-left: 10px;
}
.section--dark .row__col:last-child {
    padding-left: 10px;
}
.section.section--main .row {
    flex-direction: column;
}
.section.section--main .row__col:first-child .list {
    padding-left: 3px;
}
.section.section--main .list img {
    margin-right: 11px;
}

/* ?576px */
@media screen and (min-width: 576px) {
    .row__col h1.title {
        text-align: unset;
    }
/* ?768px */
@media screen and (min-width: 768px) {
    .row__col .list {
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .list span {
        font-size: 20px;
        line-height: 36px;
    }
}

/* ?992px */
@media screen and (min-width: 992px) {
    h1.title {
        font-size: 60px;
        text-align: unset;
        margin-bottom: 2.5rem;
    }
    .section.section--dark .row__col:first-child {
        padding-left: 35px;
    }
    .section.section--main .row {
        flex-direction: row;
    }
    .row__col .list {
        margin: 0;
    }
}

/* ?1200px */
@media screen and (min-width: 1200px) {
    .section.section--main .row__col:first-child {
        padding-left: 31px;
    }
    .row__col img {
        margin-right: 35px;
    }
}

/* END: section 1 */






/* START: section 2 */
/* <576px */
.section.section--white .row__col:last-child {
    padding: 10px 0px 0 55px;
    width: 80%;
    text-align: center;
}
.section.section--white .row {
    flex-direction: column;
}
.row__col p {
    font-size: 16px;
    line-height: 24px;
    white-space: normal;
    margin-top: 0;
}
.row__col h2.title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    margin-top: -7px;
    text-align: center;
}
/* ?576px */
@media screen and (min-width: 576px) {
    .row__col h2.title {
        text-align: unset;
    }
}

/* ?768px */
@media screen and (min-width: 768px) {}

/* ?992px */
@media screen and (min-width: 992px) {
    .section.section--white .row {
        flex-direction: row;
    }
    .section.section--white .row__col:last-child {
        padding: 0;
        width: auto;
        text-align: unset;
    }
}

/* ?1200px */
@media screen and (min-width: 1200px) {
    .row__col p {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
        margin-top: 0;
        padding: 0;
    }
}

/* END: section 2 */